{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1> Welcome to AINari Dashboard!</h1>

    {% for i in info %}
        <p>ID: {{i.id}}</p>
        <p>Date: {{i.date_time}}</p>
        <p>Paddy Area: {{i.paddy_area}}</p>
        <p>paddy_height: {{i.paddy_height}}</p>
        <p>humidity: {{i.humidity}}</p>
        <p>temperature: {{i.temperature}}</p>
        <p>water_level: {{i.water_level}}</p>
        <p>soil nitrogen: {{i.soil_nitrogen}}</p>
        <p>{{i.paddy_area.get_coordinates}}</p>
        
        <p>paddy_images: <img src='{{i.paddy_images.url}}' style="width:100px;height:100px;" /> </p>

        {% if i.id in rd_ids %}
            <p> Risk/Disease - Confidence:</p>
            
            <ul>
            {% for d in risk_disease %}
                {% if d.get_id == i.id %}
                
                    <li>
                        <p>{{d.get_disease_name}} - {{d.get_confidence}} - Occur?{{d.happened}}</p>
                    </li>
                    
                    <p> Solutions: </p>
                    <ul>
                    {% for s in rd_solution %}
                        {% if s.risk_disease.name == d.get_disease_name and s.happened == d.happened %}
                            <li>{{s.get_solution}}</li>
                        {% endif%}
                    {% endfor %}
                    </ul>
                {% endif%}
            {% endfor %}
            </ul>
        {% else %}
            <p>No Disease Detected</p>
        {% endif %}
        
        <p>--------------------------------------------</p>
    {% endfor %}

</body>
</html>