{% extends 'base_layout.html' %}

{% block map %}
    <div class="row justify-content-center">
        <div class="col-8 map-border mb-2 mt-2 pt-2 pb-2">
            {{map|safe}}
        </div>
    </div>
{% endblock %}


{% block content%}

<div class='title'>
    <h1> Paddy Area Details </h1>
</div>

<table id="info_table" class="table table-striped table-dark">
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>DateTime</th>
            <th>Paddy Area</th>
            <th>Lat/Lon</th>
            <th>Image</th>
            <th>RiskDisease-Confidence-Hapenned?</th>
            <th>Information&Solutions</th>
            <th>Action Taken?</th>
        </tr>
    </thead>

    <tbody>
    {% for i in info %}
        <tr>
            <!-- <td>{{i.id}}</td> -->
            <td>{{i.date_time}}</td>
            <td>{{i.paddy_area}}</td>
            <td>{{i.paddy_area.latitude}}/{{i.paddy_area.longitude}}</td>
            <td><img src='{{i.paddy_images.url}}' style="width:100px;height:100px;" /> </td>

            {% if i.id in rd_ids%}
                <td>
                    <ul>
                        {% for d in pd_risk_disease %}
                            {% if d.get_info_id == i.id %}
                            
                                <li>
                                    <p>{{d.get_disease_name}} - {{d.get_confidence}} - {{d.happened}}  </p>
                                </li>
                            {% endif%}
                        {% endfor %}
                    </ul>
                </td>

                <td>
                    <ul>
                        {% for d in pd_risk_disease %}
                            {% if d.get_info_id == i.id %}
                                <li>
                                    <!-- Default dropend button -->
                                    <div class="btn-group dropend"> 
                                        <button type="button" class="dropdown-button dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                                        Actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            <!-- Dropdown menu links -->
                                            <li><a class="dropdown-item" href='{% url "information:information_detail" d.risk_disease.id %}'>More Information</a></li>
                                            
                                            {% for s in rd_solution %}
                                                <!-- <li>{{s.get_solution}}</li> -->
                                                <!-- <li>s.risk_disease.name: {{s.risk_disease.name}}, d.get_disease_name: {{d.get_disease_name}}, </li>
                                                <li>s.happened: {{s.happened}}, d.happened: {{d.happened}}, solution:{{s.get_solution}}</li> -->
                                                
                                                {% if s.risk_disease.name == d.get_disease_name_raw and s.happened == d.happened %}
                                                    {% if d.action_taken == False %}
                                                        <li>
                                                            <form action="" method="post" class='action_button action_taken_{{d.get_info_id}}_{{d.id}}_{{s.id}}'>
                                                            {% csrf_token %}
                                                            <input type="hidden" name="next_{{d.get_info_id}}_{{d.id}}_{{s.id}}" value="{{ request.path }}">
                                                            <input type="hidden" name="action_name_{{d.get_info_id}}_{{d.id}}_{{s.id}}" value="{{s.get_solution}}">
                                                            <input type="hidden" name="pard_id_{{d.get_info_id}}_{{d.id}}_{{s.id}}" value="{{d.id}}">
                                                            <input type="hidden" name="url_{{d.get_info_id}}_{{d.id}}_{{s.id}}" value="{% url 'dashboard:take_action' %}">
                                                            <button type="button" class="dropdown-item">{{s.get_solution}}</button>
                                                            </form>
                                                        </li>
                                                    {% else %}
                                                        <li><a class="dropdown-item disabled" href='#'>{{s.get_solution}}</a></li>
                                                    {% endif %}
                                                    
                                                {% endif%}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            {% endif%}
                        {% endfor %}
                    </ul>
                </td>
                
            {% else %}
                <td>No Risk/Disease Detected</td>
                <td>No Action required</td>
            {% endif %}
            
            <td>
                {% for d in pd_risk_disease %}
                    {% if d.get_info_id == i.id %}
                        <li>
                            <p>{{d.action_taken}}</p>
                        </li>
                    {% endif%}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function() {
        {% for i in info %}
            {% if i.id in rd_ids%}
                {% for d in pd_risk_disease %}
                    {% if d.get_info_id == i.id %}
                        {% for s in rd_solution %}
                            {% if s.risk_disease.name == d.get_disease_name_raw and s.happened == d.happened %}
                                {% if d.action_taken == False %}
                                    
                                $('.action_taken_{{d.get_info_id}}_{{d.id}}_{{s.id}}').click(function(){
                                        next = $('input[name="next_{{d.get_info_id}}_{{d.id}}_{{s.id}}"]').val()
                                        pard_id = $('input[name="pard_id_{{d.get_info_id}}_{{d.id}}_{{s.id}}"]').val()
                                        action_name = $('input[name="action_name_{{d.get_info_id}}_{{d.id}}_{{s.id}}"]').val()
                                        url = $('input[name="url_{{d.get_info_id}}_{{d.id}}_{{s.id}}"]').val()
                                        csrfmiddlewaretoken= $('input[name="csrfmiddlewaretoken"]').val()

                                        $.ajax({
                                            url: url, //which url to send data to
                                            data: {
                                            'csrfmiddlewaretoken': csrfmiddlewaretoken,
                                            'next': next,
                                            'pard_id': pard_id,
                                            'action_name': action_name,
                                            },
                                            type: 'post',
                                            success: function(response){
                                                if (response.success) {
                                                    success_answer = 'ajax call success. ' + action_name + ' is performed.'
                                                    alert(success_answer);
                                                    // window.location=window.location; //reload using this to avoid warning
                                                    window.location.reload()
                                                    // here you update the HTML to change the active to innactive
                                                }else{
                                                    fail_answer = 'ajax call not success. ' + action_name + ' is not performed.'
                                                    alert("ajax call not success.");
                                                }
                                            }
                                        })
                                    })
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
});

</script>

{% endblock %}
