{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content%}

<div class='title'>
    <h1> Test the information here! </h1>
</div>

<form class='site-form' action="{% url 'dashboard:test_info' %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="row mb-2 justify-content-center">
        <div class="col-6">
            {{ form.humidity|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.temperature|as_crispy_field }}
        </div>
    </div>
    
    <div class="row mb-2 justify-content-center">
        <div class="col-6">
            {{ form.water_level|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.rain_fall|as_crispy_field }}
        </div>
    </div>

    <div class="row mb-2 justify-content-center">
        <div class="col-6">
            {{ form.soil_nitrogen|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.soil_phosphorus|as_crispy_field }}
        </div>
    </div>

    <div class="row mb-2 justify-content-center">
        <div class="col-6">
            {{ form.soil_potassium|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.soil_pH|as_crispy_field }}
        </div>
    </div>

    {% if info %}
        <div class="row mb-2 justify-content-center">
            <div class="col-6" style='text-align:center;'>
                {% for d in info.risk_predictions %}
                    <h3>Prediction: {{d}}</h3>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- {{ form|crispy }} -->

    <div class='row justify-content-center' style='margin-bottom:20px;'>
        <button type='submit' class='col-6 submit-button'>Submit</button>
    </div>
</form>

{% endblock %}