{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content%}

<div class='title'>
    <h1> Test the paddy images here! </h1>
</div>

<form class='site-form' action="{% url 'dashboard:test_image' %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    <div class="row mb-2 justify-content-center">
        <div class="col-6">
            {{ form.paddy_images|as_crispy_field }}
        </div>
    </div>

    {% if info %}
        <div class="row mb-2 justify-content-center">
            <div class="col-2">
                <img src='{{info.image}}' class="image-border" style="width:200px;height:200px;" />
            </div>
            <div class="col-2">
                <h3>ResNet Prediction</h3>
                {% for disease, prob in info.diseases_probability %}
                    <div class="row mb-1">
                        <p>{{disease}} - {{prob}}%</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-2">
                <h3>Custom Vision Prediction</h3>
                <div class="row mb-1">
                    <p>{{info.custom_vision_diseases}} - {{info.custom_vision_probability}}%</p>
                </div>
            </div>
        </div>
    {% endif %}

    <div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- {{ form|crispy }} -->

    <div class='row justify-content-center' style='margin-bottom:20px;'>
        <button type='submit' class='col-6 submit-button'>Submit</button>
    </div>
</form>

{% endblock %}